<!DOCTYPE html>
    <html>
        <body>
            <h1> Wow what a workout! </h1>
            <h2>Today's workout was:</h2></br>
            <div class="show_workout">
                <p>Date: <%= @workout.date %></p>
                <p>Workout Type: <%= @workout.workout_type %></p>
                <p>Workout Length: <%= @workout.length %></p>
                <p>Description: <%= @workout.description %></p>
                <p>Calories Burned: <%= @workout.cals_burned %></p>
            </div>
            <h4><a href="/workouts">Homepage</a></h4></br>
            
            <h4>Delete this thought:</h4>
            <form method="POST" action="/workouts/<%= @workout.id %>">
                <input type="hidden" id="hidden" name="_method" value="DELETE">
                <input type="submit" value="DELETE">
            </form>
        </body>    
    </html>